@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto_Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

.content {
    padding: 100px 60px 60px 60px;
    font-family: Roboto, sans-serif;
}

.content h1 {
    font-family: Roboto_Medium, sans-serif;
}

.content form {
    max-width: 397px;
}

.content form input::placeholder {
    color: #6c757d;
}

input[type="date"]::-webkit-datetime-edit {
    color: #6c757d;
}

@media screen and (max-width: 1024px){
    .content {
        padding: 60px 40px 60px 40px;
    }
}

@media screen and (max-width: 767px){
    .content {
        padding: 40px 20px;
    }

    .content h1 {
        font-size: 22px;
    }
}