@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto_Medium';
    src: url('../fonts/Roboto-Medium.ttf');
}

.incomes {
    padding: 100px 65px 60px 60px;
    font-family: Roboto_Medium, sans-serif;
}

.incomes h1 {
    margin-bottom: 40px;
}

.incomes .card {
    height: 121px;
}

.incomes .card h3 {
    color: #290661;
}

.incomes .card a svg {
    fill: #ced4da
}

.incomes .card a:hover svg {
    fill: #adb5bd
}