<div class="content w-100">
    <h1 class="text-primary-emphasis mb-3 mb-md-5">Редактирование категории <span id="type"></span></h1>
    <form>
        <div class="input-block mb-3">
            <input type="text" class="form-control ps-3 text-black" placeholder="Название..." id="categoryTitle">
            <div class="invalid-feedback">
                Заполните поле
            </div>
        </div>
        <div class="form-actions d-flex gap-2">
            <button id="updateButton" type="button" class="btn btn-success">Сохранить</button>
            <button id="cancelButton" type="button" class="btn btn-danger">Отмена</button>
        </div>
    </form>
</div>
