<div class="content w-100">
    <h1 class="text-primary-emphasis mb-3 mb-md-5">Редактирование категории расходов</h1>
    <form>
        <div class="input-block mb-3">
            <input type="text" class="form-control ps-3 text-black" placeholder="Название..." id="categoryTitle"
                   value="Жильё">
            <div class="invalid-feedback">
                Заполните поле
            </div>
        </div>
        <div class="form-actions d-flex gap-2">
            <a href="#/expenses" class="btn btn-success">Сохранить</a>
            <a href="#/expenses" class="btn btn-danger">Отмена</a>
        </div>
    </form>
</div>
