.modal-body {
    padding: 40px;
}

.modal-body p {
    color: #290661;
}

.modal {
    font-family: Roboto_Medium, sans-serif;
    font-size: 20px;
    line-height: 23px;
}

.modal .modal-actions .btn {
    font-size: 12px;
}

.modal .modal-dialog {
    max-width: 530px;
}